{% block footer %}
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h6>Kính chào quý khách!</h6>
                <p class="text-justify">Xin cảm ơn quý khách đã ghé thăm và mua sản phẩm tại cửa hàng chúng tôi. Chúng tôi kinh doanh các mặt
                    hàng laptop đa dạng, phù hợp với yêu cầu, mong muốn của khách hàng. Các dòng sản phẩm có tại cửa
                    hàng đến từ các thương hiệu laptop uy tín và chất lượng như: Macbook, Hp, Dell, Asus, Lenovo,...</p>
                <p class="text-justify">Bạn có điều thắc mắc về sản phẩm? Liên hệ ngay trung tâm chăm sóc khách hàng của
                    chúng tôi để được giải đáp tận tình:<span class="text-warning">0358.666.888</span></p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Dòng sản phẩm:</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">Macbook</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">Hp</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">Dell</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">Asus</a></li>
                    <li><a href="http://scanfcode.com/category/templates/">Msi</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Địa chỉ cửa hàng: 371 Nguyễn Kiệm, p6, Gò Vấp, Tp.Hồ Chí Minh.</p>
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">LaptopLT</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://freefrontend.com/css-hover-effects/"><i
                            class="fab fa-facebook"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/?lang=vi"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock%}